/*
	Partes que todas las paginas tienen iguales
*/

@font-face {
    font-family: 'captureit';
    src: url('tipografia/Capture-it/Capture_it.ttf');
}

@font-face {
    font-family: "Impact Label Reversed";
    src: url('tipografia/Impact-Label/Impact_Label_Reversed.ttf');
}

html {
    width: 100%;
    height: 100%;
}

/*
    plano semiprincipal
*/
body {
    background: url('img/body.jpg') repeat scroll 0 0 transparent;
    height: 100%;
    max-width: 1200px;
    width: 95%;
    margin: auto;
    margin-bottom: 5%;
    font-family: "captureit";
    margin-top: 1%;
}

/*
    marco principal
*/
.principal {
    display: inline-flex;
    width: 100%;
}

.pie_pagina {   
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    border: 1px solid white;
    font-family: "Impact Label Reversed";
    color: orange;
    text-align: center;
    font-size: 150%;
    margin-top: 0.5%;
}

.pie_pagina > article > section {
    display: inline-block;
    font-family: "captureit";
    width: 25%;
    margin: 1%;
}

.pie_pagina > article > section > img{
}

.cuerpo {
    width: 74.5%;
    margin: auto;
    margin-left: 0;
}

.cuerpoAlbum {
    display: inline-flex;
    margin: auto;
    margin-left: 0;
}

.cuerpoAlbum > article:nth-child(1){
    width: 70.5%;
}

.public {
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    border: 1px solid white;
    width: 24.5%;
    font-size: 150%;
    text-align: center;
    margin-left: 2px;
}

/*
    cuerpo de la pagina
*/
header {
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    border: 1px solid white;
    width: 100%;
}

/*
    estilos y efectos del menu
*/
.menu {
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    border: 1px solid white;
    margin-top: 2px;
    width: 100%;
}

.titulo {
    display: inline-flex;
    text-align: center;
    width: 100%;
}

.novedades {
    display: inline-flex;
    width: 100%;
}

.novedadesGenero {
        border: 1px solid white;

    display: inline-block;
    width: 100%;
}

.novedadesDisco {
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    display: inline-block;
    width: 29%;
    margin-left: auto;
}

.img {
    text-align: center;
    margin: auto;
    width: 20%;
}
 
.text_titulo {
    font-family: "Impact Label Reversed";
    color: orange;
    font-size: 400%;
    width: 50%;
    margin: auto;
}

.user {
    margin-top: 5px;
    margin-bottom: auto;
    width: 25%;
    text-align: center;
}

.disco {
    width: 30%;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
}

.discoAlbum {
    width: 90%;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
}

.discoGenero {
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
    display: inline-flex;
}

.discoNoticias {
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
    display: inline-block;
}

.caratula {
    max-width: 200px;
    width: 80%;
    margin: auto;
    margin-bottom: 1%;
    border-radius: 1%;
}

.mas_vendido > article:nth-child(2){
    width: 60%;
    margin: auto;
}
.comentarios {
    margin: auto;
    margin-top: 1%;
    background: url('img/madera.jpg') repeat scroll 0 0 transparent;
    border-radius: 1%;
    border: 1px solid white;
    text-align: center;
}

.comentarios ul li {
    list-style-type: none;
    text-decoration: none;
}

.play {
    width: 50%;
    height: 20%;
    margin-top: 2%;
    float: right;
}

.menu .nav {
    font-size: 150%;
    margin: auto;
}

.menu li {    
    line-height:2.5em;
    display: inline-block;
}

.menu ul li a {
    text-decoration:none; 
    padding: 0 20px; 
    color: orange;
}

.menu li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.menu li ul li {
    display: block;
}

.menu li:hover > ul {
    border: 1px solid white;
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    display:block;   
}

.subcuerpo {
    display: inline-flex;
    width: 100%;
    margin-top: 1%;
}

.subcuerpo > article {
    width: 100%;
}
.subcuerpo .noticias {
    border: 1px solid white;
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    text-align: center;    
}

.subcuerpo .genero {
    border: 1px solid white;
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    margin-top: 2px;
}

.subcuerpo .noticias .area_noticia {
    background: url('img/madera.jpg') repeat scroll 0 0 transparent;
    display: inline-block;
    border-radius: 1%;
    margin: 1%;
    height: 45%;
    width: 45%;
}

.subcuerpo .genero .option-genero {
    border: 1px solid white;
    background: url('img/madera.jpg') repeat scroll 0 0 transparent;
    margin: auto;
    margin-top: 1%;
    width: 90%;
    border-radius: 1px;
}

.genero_discos {
    height: 30%;
    display: flex;
}

.subcuerpo .genero .option-genero ul li {
    margin: auto;
}

.subcuerpo .genero .genero_disco {
    border: 1px solid white;
    background: url('img/madera.jpg') repeat scroll 0 0 transparent;
    margin: auto;
    width: 22%;
    height: 21%;
    border-radius: 1px;
}

.subcuerpo .novedades {
    border: 1px solid white;
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    width: 30%;
    margin-left: 5px;
}

.subcuerpo .novedadesGenero {
    border: 1px solid white;
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    width: 30%;
    margin-left: 2px;
}

.cartel {
    background: url('img/degras.png') repeat scroll 0 0 transparent;    
    border: 1px solid white;
    width: 100%;
    display: inline-flex;
    margin-top: 2px;
}

.cartel .img {
    margin-left: 2%;
    margin-right: 2%;
}

.cartel .text_titulo {
    margin-left: 10%;
}

.portal{
    border: 1px transparent white;
    margin-top: 5px;
    display: inline-flex;
    width: 100%;
}

.portal > article {
    width: 70%;
}

.portal .novedades {
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    width: 30%;
    margin-left: 5px;
    border: 1px solid white;
}

.portal .mas_vendido {
    border: 1px solid white;
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    display: inline-flex;
    width: 100%;
    text-align: center;

}

.grande {
    margin: auto;
    border-radius: 1px;
}

.portal .mas_vendido ol {
    background: url('img/madera.jpg') repeat scroll 0 0 transparent;
    width: 32%;
    border-radius: 1px;
    height: 32%;
    margin: auto;
}

.portal .discos {
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    text-align: center;
    border: 1px solid white;
}

.portal .discos .disco {
    display: inline-block;
    border-radius: 1%;
    margin: 1%;
    width: 45%;
}

.discos{
    background: url('img/degras.png') repeat scroll 0 0 transparent;
}

.discoNovedades > article {
    width: 80%;
    max-width: 200px;
    display: inline-block;
    border-radius: 1%;
    margin: 1%;
}

.area_noticia .disco {
    width: auto;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
}


.area_noticia .disco .caratula {
    width: 80%;
    height: 30%;
    margin: auto;
    margin-bottom: 0.5%;
    border-radius: 1%;
    border: 0px solid white;
}

.area_noticia .disco .comentarios {
    margin: auto;
    margin-top: 1%;
    border-radius: 1%;
    text-align: center;
    border: none;
}

.subcuerpo > article {
    width: 70%;
    display: blox;
    text-align: center;
}

.subcuerpo .discos {
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    border: 1px solid white;
    margin-top: 1%;
}

.subcuerpo .discos .disco {
    margin: auto;
    display: flex;
    width: auto;
    margin-top: 1%;
}

.cancion {
    background: url('img/madera.jpg') repeat scroll 0 0 transparent;
    color: black;
    margin: 1%;
    width: 90%;
}

.subcuerpo .discos .disco .caratula{
    margin: 1%;
    margin-top: 10px;
    margin-bottom: auto;
}

.valor_descarga {
    display: flex;
    margin-top: 1%;
    width: auto;
    height: 20%;
}

.valor {
    display: inline-flex;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}

.descarga {
    width: 50%;
}
li{
    font-size: 80%;
}
.lista .cancion {
    margin-top: 5%;
    margin-bottom: 5%;
}
article.area_noticia:nth-child(1) > article:nth-child(1){
    font-size: 80%;
}
.cartel .text_titulo {
    width: auto;
}

.user .dato {
    display: inline-flex;
    margin: auto;
    margin-top: 1%;
    text-align: center;
    width: 70%;
    background: url('img/madera.jpg') repeat scroll 0 0 transparent;
    margin: 1%;
}

h1 {
    color: orange;
    margin: auto;
}

article.user:nth-child(1) {
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    border: 1px solid white;
    width: 100%;
    margin-top:0.5%;
}

.botones_login {
    max-width: 30%;
    display: flex;
    margin: auto;
    margin-bottom: 5%;
}

article.dato>input{
    width: 45%;
}

article.dato:nth-child(8) > select:nth-child(2){
    width: 46%;
}


.option-genero ul {
    color: orange;
    display: flex;
}

.option-genero ul li {
    list-style-type: none;
}

.option-genero ul li a {
    color: black;
    margin: auto;
    display: flex;
    font-size: 150%;
}

.public li a {
    color: white;
    display: block;
    font-weight: normal;
    padding: 23px 20px 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px .000000;
}

.public ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.botton_aceptar {
    background-color: transparent;
    border: none;
}

.botton{
    max-width: 300px;
}
/*
    tamaños de las imagenes
*/
img.pequeña_cartel {
    margin: 1%;
    max-width: 150px;
    max-height: 150px;
    width: -moz-available;
    height: 30%;
}

img.pequeña {
    max-width: 100px;
    max-height: 100px;
    width: 30%;
    height: 30%;
}

img.boton_descargar{
    width: 25%;
}
img.botton {
    width: 100%;
}

img.mediana {
    max-width: 200px;
    border-radius: 1%;
    width: 100%;
    height: 100%;
}

img.exito{
    border-radius: 1%;
    width: 100%;
}

img.grande {
    width: 32%;
    height: 32%;
}

.discoNovedades{
    text-align: center;
    font-size: 150%;
    margin: 1%;
}

.registro{
    display: inline-flex;
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    text-align: center;
    width: 100%;
    height: auto;
}

.registro > article:nth-child(1) > form:nth-child(1){
    display: inline-block;
    width: 100%;
    background: url('img/degras.png') repeat scroll 0 0 transparent;
    text-align: center;;
}

.dato{
    width: 70%;
    display: inline-flex;
}

.init{
        background: url('img/degras.png') repeat scroll 0 0 transparent;

    margin:auto;
    margin-top: 30%;
    color: orange;
    display: block;
    text-align: center;
}

h2{
    color:black;
    margin: auto;
    font-size: 150%;
}

#usuario{
    width: 90%;
    text-align: center;
}

#contrasena{
    width: 90%;
        text-align: center;

}