#caja_principal #titulo{
	background:#FFCC00;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
	border: 1px solid; 
	border-radius: 5px;
}

#caja_principal #titulo #img_titulo{
	float:left;
	margin: 1%;
	text-align: left;
	width: 10%;
	max-width: 50px;
	max-height: 50px;
	background: red;
}

#caja_principal #titulo #text_titulo{
	float:center;
	margin-left: 10%;
	text-align: center;
	width: 48%;
	background: red;
}

#caja_principal #titulo #user{
	background: red;
	width: 40%;
	float: right;
}


#caja_principal #menu{
	margin: 5%;
	width: 90%;
	background: red;
}

#caja_principal #menu li{
    display: inline-block; 
    margin: 0 20px; 
    color: whitesmoke;
}

#caja_principal #menu a{
    content: '·';
    color: #F1B202;
    margin: 0 auto;
    display: inline-block;
    width: 2px;
    height: 1px;
    margin-top: 2px;
}

body{ 
	background: cyan;
	
}

